<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>1A470355-9534-47BC-84B9-F43CBD6F5A2E.playgroundpage</string>
		<string>E0D713A0-2093-4241-B1D5-0BDEFF1DE6AD.playgroundpage</string>
	</array>
</dict>
</plist>
